body{
    font-family: 'Poppins', sans-serif;
}
#navigationAreaTop{
   /* border: 1px solid red;*/
    height: 70px;
    /*background-color: #FCF3EA;*/
    z-index: 2;
}
.navbar-brand{
    font-family: 'Lemonada', cursive;
  /*  border:1px solid red;*/
    color: white;
}
.navbar-brand:hover{
    color: #E8432B;
}
.navbar-brand>img {
    width: 100px;
    height: 80px;
    margin-left: 22px;
    /* margin-top: -10px;*/
  /*  border: 1px solid green;*/
}
#navbarNav .navbar-nav .nav-item .nav-link{
    color: white;
    font-size: 16px;
    font-family: 'Lemonada', cursive;
    /*border: 1px solid red;*/
}
#navbarNav .navbar-nav .nav-item .nav-link:hover{
    color: #E8432B;
}
#navbarNav .navbar-nav .nav-item #homeText{
    margin-left: 285px;
    margin-top: -30px;
}
#navbarNav .navbar-nav .nav-item #aboutText{
    margin-top: -30px;
    margin-left: 20px;
}
#navbarNav .navbar-nav .nav-item #serviceText{
    margin-top: -30px;
    margin-left: 32px;
}
#navbarNav .navbar-nav .nav-item #fleetText{
    margin-top: -30px;
    margin-left: 32px;
}

#navigationAreaTop .nav-buttons{
    font-family: 'Lemonada', cursive;
    color: white;
    background-color: transparent;
    border: 3px solid #DA1D1D;
    margin-top:-30px;
    font-size: 16px;
    width: 110px;
}
#navigationAreaTop .nav-buttons:hover{
    color: #E8432B;
}
#navigationAreaTop #button1{
    margin-right: 15px;
}
#navigationAreaTop #button2{
 margin-right: 10px;
}
/*=======================*/
#homeContainer{
   /* border: 1px solid blue;*/
    height: 100vh;
    background: url("../images/background-Home.jpg");
    background-position: center;
    background-size: cover;
}
#home-content-area{
  /*  border: 1px solid blue;*/
    height: 550px;
    font-family: 'Lemonada', cursive;
    font-size: 62px;

}
#home-content-area #para1{
    color: #E8432B;
   /* border: 1px solid deeppink;*/
    margin-top: 60px;
    margin-left: 30px;
}
#home-content-area #para2{
    color: #841505;
    font-size: 32px;
    /*border: 1px solid bisque;*/
    padding-left: 860px;
}
#home-content-area .nav-buttons{
    font-family: 'Lemonada', cursive;
    color: white;
    background-color: transparent;
    border: 3px solid #DA1D1D;
    font-size: 20px;
    width: 220px;
    height: 60px;
    margin-left: 200px;
    margin-top: 185px;
}
/*=====================*/
#aboutUsContainer{
   /* border: 1px solid red;*/
    height: 160vh;
    background: rgb(54,59,60);
    background: linear-gradient(180deg, rgba(54,59,60,1) 0%, rgba(84,94,96,1) 1%, rgba(193,179,179,1) 13%, rgba(208,201,199,1) 23%, rgba(232,235,242,1) 65%, rgba(252,243,234,1) 100%);
}
#aboutUsContainer .carvideo{
/* border: 1px solid red;*/
    position: absolute;
    width: 600px;
    height: 300px;
    margin-top: -200px;
    margin-left: 10px;

}
#aboutUsContainer .image-area{
    /*border: 1px solid yellow;*/
    margin-top: 290px;
}

#aboutUsContainer .content-area .para1{
/*    border:1px solid red;*/
    position: absolute;
    margin-top: 160px;
    margin-left: 700px;
    font-size: 33px;
    font-weight: bold;
}
#aboutUsContainer .content-area .para2{
/* border: 1px solid blue;*/
    position: absolute;
    margin-top: 220px;
    margin-left: 700px;
    font-size: 18px;
}
#aboutUsContainer .content-area .para3area{
    /*border: 1px solid blue;*/
    padding: 0 30px 0px 30px;
}
#aboutUsContainer .content-area .para3{
   /* border: 1px solid green;*/
    padding-top: 300px;
    font-size: 16px;
}
#aboutUsContainer .centralArea{
    border: 5px solid #B18F84;
    border-radius: 20px;
    height: 150px;
    width: 600px;
    margin-top: 90px;
    margin-left: 650px;
    display: flex;
}
#aboutUsContainer .centralArea .item1{
  /*  border: 1px solid red;*/
}
#aboutUsContainer .centralArea .item1>img{
    margin-top: 15px;
    margin-left: 100px;
    width: 35px;
    height: 35px;
}
#aboutUsContainer .centralArea .item1>#clock{
    margin-left: 80px;
}
#aboutUsContainer .centralArea .item1>p{
    padding-top: 10px;
    padding-left: 70px;
}
#rmbutton{
    font-family: 'Poppins', sans-serif;
    margin-left: 655px;
    margin-top: 40px;
}
/*================*/
#servicesContainer{
   /* border: 1px solid blue;*/
    height: 100vh;
    background: rgb(252,243,234);
    background: linear-gradient(180deg, rgba(252,243,234,1) 8%, rgba(252,243,234,1) 20%, rgba(250,240,229,1) 30%, rgba(231,233,238,1) 54%, rgba(229,230,236,1) 78%, rgba(229,230,236,1) 100%);
}
#servicesContainer>hr{
    position: absolute;
    width: 100%;
    margin-left: -12px;
}
#servicesContainer .para1{
       /* border:1px solid red;*/
    position: absolute;
    margin-top: 60px;
    margin-left: 100px;
    font-size: 33px;
    font-weight: bold;
}
#servicesContainer .para2{
    /* border: 1px solid blue;*/
    position: absolute;
    margin-top: 120px;
    margin-left: 100px;
    font-size: 18px;
}